@{
    ViewBag.Title = "About";
}


<div class="container">
    <h2>About us</h2>
<p class="text-left">
As we know that many people face problem in finding the appropriate people for their work of any kind. I am going to build a website which will help our end user to find the resource person for which they are looking. There will be people available of all kinds of field. The worker or resource will register him or herself on our website and provide all necessary information regarding this. The people who will visit our website can view the worker profile of his or her desired category and contact them through the phone or email provided and can hire them work.In my website people belonging to any occupation can be hired for work. The worker or people can register them self to the any occupation in which they are expert. A user simply visits our website and see the list of availability of individuals and can hire them and make deal with them. There will be admin in my website which will manage the entire website he can add or remove the user from website if needed. The user can update his or her status of availability in his or her profile and also update his or her information provided earlier.</p>
    </div>