@model List<Project.Models.usertable>
@{
    ViewBag.Title = "seeprofile";
}

<h2>seeprofile</h2>
<table class="table table-striped">
    <tr>
        <th>
            First Name
        </th>
         <th>
            Last Name
        </th>
    </tr>
    
@foreach (var item in ViewBag.a)
{
    <tr>
        <td>
         @item.fname
         </td>
        <td>
         @item.lname
         </td>
         <td>
         <a href="~/viewprofile/viewuser/@item.Id">ViewProfile</a>
       </td>
    </tr>
}
    </table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>