<form class="form-horizontal" id=profession method="post" action="/Home/addadmin"  role="form">
     <div class="form-group">
    <label for="Signin" class="col-sm-5 control-label"><h2>Add Admin</h2></label>
  </div>
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="name" id="fname" placeholder="Name" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <label for="Email" class="col-sm-3 control-label">Email</label>
    <div class="col-sm-3">
      <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
    </div>
  </div>
  <div class="form-group">
    <label for="Password" class="col-sm-3 control-label">Password</label>
    <div class="col-sm-3">
      <input type="password" name="password" class="form-control" id="password" placeholder="Password"  required >
    </div>
  </div>
   <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <button type="submit" class="btn btn-default">Add</button>
    </div>
      </div>
    </form>