@{
    ViewBag.Title = "viewfeedback";
}
<h3>FeedBacks</h3>
<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
         <th>
            Email
        </th>
         <th>
            Comment
        </th>
  
    </tr>
    
@foreach (var item in ViewBag.a)
{
    <tr>
        
        <td>
         @item.name
         </td>
        <td>
         @item.email
         </td>
        <td>
         @item.comment
         </td>
     
    </tr>
}
    </table>
<p>
    @Html.ActionLink("Back to List", "adminmain")
</p>